*{ 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
}
main{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(49, 13, 121, 0.7), rgba(112, 21, 191, 0.7));
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}


.card{
  width: 450px;
  height: 750px;
  box-shadow: 1px 2px 4px 2px rgba(24, 23, 23, 0.71);
  border-radius: 20px;
  padding: 20px;
}
.search-box {

  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 10px; 
  box-shadow: 0 15px 10px rgba(0,0,0,0.2);
  overflow: hidden; 
  background: #ffffff57;
}

.search-box input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 12px;
  font-size: 16px;
  background: #ffffff57;
}
.search-box input::placeholder{
    color: white;
}

.search-box button {
  width: 50px;
  height: 100%;
  border: none;
  color: white;
  background: #ffffff57;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box button i {
  font-size: 22px;
}
.location{
  margin-top: 30px;
  text-align: center;
  display: none;
  >h3{
    color: white;
    text-shadow: 1px 1px 1px gray , 2px 2px 2px rgb(132, 126, 126);
  }
}
.weather-box{
  margin-top: 30px;
  width: 100%;
  height: 200px;
  padding-inline: 10px;
  display: flex;
}
.weather-box figure{
  width: 50%;
}
.weather-box img{
  width: 80%;
  object-fit: cover;
}
.temp-box{
  width: 50%;
}
.temp-box .temp-rang{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
}
.temp-rang .temp-min{
  display: flex;
  margin-inline: 15px;
}
.temp-rang .temp-max{
  display: flex;
}
.temp-box .weather-humidity{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
}
.temp-box .weather-wind{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
}
.temp-box .weather-humidity img{
  width: 20%;
  padding-inline: 5px;
}
.temp-box .weather-wind img{
  width: 20%;
  padding-inline: 5px;

}

.temp-box .detail{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.detail .weather-location{
  width: 50%;
  color: white;
}
.detail .weather-location h2{
  font-size: 28px;
}
.detail .tempture{
  width: 50%;
  font-size: 32px;
  color: white;
  text-align: center;
}
.hourly-forecast{
  width: 100%;
  height: 190px;

}
.hourly-forecast .day{
  color: white;
  font-size: 23px;
  padding-inline: 10px;
  margin-bottom: 9px;
}
.hour-forecast{
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-evenly;
}
.hour-forecast .hourly-item{
  
  width: 40px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: center;
  box-shadow: -2px 1px 5px 1px rgba(36, 35, 35, 0.71);
  color: white;
}
.hour-forecast .hourly-item:nth-of-type(2){
  background-color: rgba(124, 14, 167, 0.475);
}
.hour-forecast .hourly-item:nth-of-type(4){
  background-color: rgb(111, 11, 173);
}
.weekly-forecast{
  width: 100%;
  height: 240px;
  border: 1px solid rgb(61, 56, 56);
  box-shadow: 1px 1px 1px 1px rgb(45, 43, 43);
  margin-top: 15px;
  border-radius: 20px;
  padding-inline: 10px;
}
.weekly-forecast .week{
  color: white;
  font-size: 23px;
  text-align: center;
  padding-bottom: 5px;
}
.week-forecast .weekly-item {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: white;
    padding:0 10px ; 
    height: 25px;
    margin-top: 3px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgb(32, 31, 31);
}

